/* UI/UX: RohanIT.ir */
/* طراحی رابط و تجربه کاربری فن آوری اطلاعات روهان */
@charset "utf-8";
@import "tv";
$fontApp : $fontIrsans;
$bkUrlTVCPreview : '';
$bkUrlTVCPreviewOver : '';
body.tvcPre:before {
    width: 100%;
    height: 100%;
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: block;

    background-color: #000000;
    background-image: url();
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    -webkit-filter: blur(0px) grayscale(0%);
    -moz-filter: blur(0px) grayscale(0%);
    -o-filter: blur(0px) grayscale(0%);
    -ms-filter: blur(0px) grayscale(0%);
    filter: blur(0px) grayscale(0%);

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    z-index: -1;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body.tvcPre {
    width: 1080px !important;
    min-width: 1080px !important;
    max-width: 1080px !important;
    height: 1920px !important;
    min-height: 1920px !important;
    max-height: 1920px !important;
    background-color: #000000;
    color: $colorFontDefaultL3;
    font: 0.625em/1em $fontApp;
    font-weight: normal;
    line-height: 1.75 !important;
    letter-spacing: 0;
    margin: 0px auto;
    padding: 0;
    overflow: auto;
}
a {
    background-color: $color1;
    color: $color1Bk;
    text-decoration: none;
    padding: 0px 4px;
    @include transition(all 0.15s ease);
    &:hover {
        background-color: $color1Bk;
        color: $color1;
        cursor: pointer;
    }
}
a[disabled] {
    pointer-events: none;
}
a {
    background-color: $color1;
    color: lighten($color1, 45);
    text-decoration: none;
    @include transition(all 0.15s ease);
    &:hover {
        background-color: $color2;
        color: lighten($color2, 45);
        cursor: pointer;
    }
}
$gray : #D0D0D0;
$dark-blue:#1D1D3F;
@font-face {
    font-family: 'WMitraBold';
    src :url(../fonts/WebMitraBold.eot);
    src :url(../fonts/WebMitraBoldd41d.eot?#iefix) format('embedded-opentype'),
         url(../fonts/WebMitraBold.woff) format('woff'),
         url(../fonts/WebMitraBold.ttf) format('trutype'),
         url(../fonts/WebMitraBold.svg#WebMitraBold) format('svg');
    font-weight: bold;
    font-style: normal;
    unicode-range :U+0600-06FF;
}
html, body {
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
    direction: rtl;
}

.container{
  width: 1080px;
  height: 1920px;
  margin: auto;
  overflow:hidden;
  align-items: center;
  text-align: center;
  font-family:Irsans;
  color: #FFF;
  }
.view-theme08{
        width: 1080px;
        min-width: 1080px;
        max-width: 1080px;
        height: 1920px;
        max-height: 1920px;
        min-height: 1920px;
        overflow: hidden;
        margin: 0px auto;
        text-align: center;
        background: url(../images/bg-shery-album.jpg) no-repeat;
       .theme08main{
        width: 100%;
        height: 1400px;
        padding-top: 237px;
        padding-left: 145px;
        a{
            background: none;
            text-decoration: none;
        }
        .album{
            width: 395px;
            height: 475px;
            min-height: 475px;
            max-height: 475px;
            background:url(../images/border-album.png) no-repeat;
            background-size: cover;
            float: left;
            margin-left: 20px;
            margin-bottom: 20px;
            padding: 28px 24px 0 25px;
            .pic-album{
                width: 346px;
                max-width: 346px;
                min-width: 346px;
                height: 385px;
                max-height: 385px;
                min-height: 385px;
                img {
                width: 346px !important;;
                min-width: 346px;
                max-width: 346px;
                height: 385px !important;
                min-height: 385px;
                max-height: 385px;
                }
                .widgetSlider {
                    width: 100%;
                    height: 100%;
                    .rhino-container {
                        width: 346px !important;;
                        min-width: 345px;
                        max-width: 345px;
                        height: 385px !important;
                        min-height: 385px;
                        max-height: 385px;
                        overflow: hidden;
                        ul li img {
                            width: 346 !important;
                            min-width: 346px !important;
                            max-width: 346px !important;
                            height: 385px !important;
                            min-height: 385px;
                            max-height: 385px;
                            overflow: hidden;
                        }
                    }
               
                }
            }
            .title-album{
                width: 100%;
                height: 50px;
                color: #000;
                font: $fontSize*2 $fontIrsans;
                font-weight: 600;
                line-height: 50px;

            }
            
        }
       }
       .theme08txt{
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        height: 520px;
        min-height: 520px;
        max-height: 520px;
        padding-top: 350px;
        color: #bb8950;
        .widgetText{
             color: #bb8950;
             font: $fontSize*2 $fontIrsans;
             font-weight: 600;
                ul.marquee li {
                font: $fontSize*2 $fontIrsans;
                font-weight: 600;
                text-align: center;
                margin: 0;
                padding: 10px 30px 0;
            }


        }
    }
        }
       


/*big album*/
.bigview-theme08{
        width: 1080px;
        min-width: 1080px;
        max-width: 1080px;
        height: 1920px;
        max-height: 1920px;
        min-height: 1920px;
        overflow: hidden;
        margin: 0px auto;
        text-align: center;
        background: url(../images/bg-shery-album-big.jpg) no-repeat;
        .theme08main{
        width: 100%;
        height: 1400px;
        padding: 237px 90px 0 100px;
        text-align: left;
        .back{
            direction: ltr;
            a{
            background:none;
            text-decoration: none;
            font: $fontSize*2 $fontIrsans;
            font-weight: 600;
        }
        a:hover{
            color: #bb8950;
        }
    }
        
        .album-big{
            width: 900px;
            height: 1080px;
            background:url(../images/border-album-big.png) no-repeat;
            background-size: cover;
            padding: 40px 37px 80px 40px;
            .pic-album{
                width: 825px;
                max-width: 825px;
                min-width: 825px;
                height: 920px;
                max-height: 920px;
                min-height: 920px;
                
                img {
                width: 825px !important;;
                min-width: 825px;
                max-width: 825px;
                height: 920px !important;
                min-height: 920px;
                max-height: 920px;
                }
            }
            .title-album{
                width: 100%;
                height: 115px;
                color: #000;
                font: $fontSize*3.5 $fontIrsans;
                font-weight: 600;
                line-height: 100px;
                text-align: center;

            }
        }
    }
    .theme08txt{
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        height: 520px;
        min-height: 520px;
        max-height: 520px;
        padding-top: 350px;
        color: #bb8950;
        .widgetText{
             color: #bb8950;
             font: $fontSize*2 $fontIrsans;
             font-weight: 600;
                ul.marquee li {
                font: $fontSize*2 $fontIrsans;
                font-weight: 600;
                text-align: center;
                margin: 0;
                padding: 10px 30px 0;
            }


        }
    }
    }








